/data
.env
.vscode/settings.json
logs/pipeline.log
**/__pycache__/
*.py[cod]
*.pyo
**/tempCodeRunnerFile.py
/tuner_dir
probne/20250628_155721.mp4
probne/output.mp4
probne/output_katy.mp4
praca.tex
output/landmarks.csv
*.csv
probne/20250711_202556.mp4
probne/20250719_194118.mp4
probne/20250720_161407.mp4
probne/20251023_205133.mp4
probne/output_3.mp4
probne/output_2.mp4
probne/output_1.mp4
data_processing/frames_count.py
data_processing/generate_histograms.py
/histograms
data_processing/gerenrate_histograms_for_labels.py
